@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.content{
    width: 77.43%;
    height: 1084px;
    /* background-color: gray; */
    margin-top: 27px;
    margin-left: 11.25%;
    margin-right: 11.25%;
    align-items: center;
    margin-bottom: 119px;
}

.search{
    background-color: white;
    height: 232px;
    width: 55.23%;
    margin-left: 22.42%;
    text-align: center;
    margin-bottom: 37px;
}
.reaction{
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    line-height: 45.6px;
    align-items: center;
    color: black;
    margin-bottom: 20px;
}

.great{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    color: #93918f;
    margin-bottom: 45px;
}

.best{
    width: 35.22%;
    height: 36px;
    background-color: #fdb755;
    border-radius: 4px;
    color: white;
    border: none;
    margin-bottom: 46px;
}

.best:hover{
cursor: pointer;
}

.subreddit{
    font-weight: 500;
    text-align: center;
    line-height: 19.5px;
    font-size: 16px;
    font-style: normal;
    color: #93918f;
}

.table{
    height: 332px;
    width: 77.35%;
    /* background-color: gray; */
    margin-left: 163px;
    /* margin-right: 163px; */
    position: relative;
    margin-bottom: 133px;
}

.time{
    width: 86.17%;
    height: 52px;
    background-color: #f3f3f3;
    margin-left: 13.83%;
}

.col{
    width: 86.17%;
    height: 280px;
    /* background-color:blue; */
    margin-left: 13.83%;
}
.days{
    display: inline;
    float: left;
    width: 13.83%;
    height: 280px;
    /* margin-top: 52px; */
    top: 52px;
    left: 0;
    background-color:  #1E2537;
    ;
    position: absolute;
}

.hours{
    font-size: 85%;
    font-weight: 600;
    line-height: 17.07px;
    font-style: normal;
    color: #787878;
   padding-top: 17px;
   padding-right: 2%;
}

.says{
    width: 100%;
    height: 40px;
    /* background-color: orange; */
    text-align: center;
    color: white;
    font-size: 15px;
    /* padding-top: 14.5px; */
}

.says p{
color: #ffffff;
    padding-top: 14px;
    font-size: 15px;
    line-height: 11px;
}
.sqr{
    width: 100%;
    height: 40px;
    background-color: coral;
}
.spn{
    width: 4.166%;
    height: 40px;
    background-color: #a0ce93;
    float: left;
    color: #ffffff;
    /* line-height: 9px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; */
    /* padding: auto;
    margin: auto; */
    text-align: center;
}

.posts{
    width: 51.25%;
    height: 350px;
    margin-left: 24.375%;
}

.text-block-1{
    width: 100%;
    height: 122px;
    text-align: left;
    background-color:white;
    margin-bottom: 105px;
}

.text-block-2{
    width: 100%;
    height: 123px;
    text-align: left;
    color: white;
}

.how-it{
    font-size: 24px;
    line-height: 28.5px;
    color: #000000;
    font-weight: 400;
    font-family: 'Bitter', serif;
    margin-bottom: 12px;
}

.dot{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #93918f;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.about-it{
    font-size: 24px;
    line-height: 28.5px;
    color: #000000;
    font-weight: 400;
    font-family: 'Bitter', serif;
    margin-bottom: 12px;
}

.text-table{
    width: 100%;
    height: 81px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #93918f;
}

strong{
    color: #51abfb;
}

/* .pst{
    float: left;
} */

.spn-textt{
    padding-top: 8px;
}